Always prefer importing specific hooks from `React` over importing the entire library.
e.g. `import { useEffect, useRef } from 'react'` instead of `import * as React from 'react'`

DO NOT EVER APOLOGIZE. It's fine to make mistakes, keep focused on fixing them.

Do not EVER remove comments. I'll do that manually when review the commit.
DO NOT MESS UP WITH MY INDENTATION.

Prefer `Boolean()` over `!!` as it's more readable.

Always use `bun` instead of `npm` or any other. Including `bunx` instead of `npx`.

***Everything*** should be type-safe. i.e. using `any` is STRICTLY forbidden.